<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="../../static/assets/styles/main.css">
</head>
<body>
<h1>WELCOME HOME</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.7465938716336!2d36.80294525657665!3d-1.2645981401259123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f171529fed3af%3A0xd0bf651d8ffa69e1!2sThe%20Alchemist!5e1!3m2!1ssw!2ske!4v1770982909757!5m2!1ssw!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</body>
</html>
<footer>&copy;All Rights Reserved, VK Events 2026.</footer>
