<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="../../static/assets/styles/main.css">
    <link href="../../static/assets/styles/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <h1>WELCOME HOME</h1>

    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.7465938716336!2d36.80294525657665!3d-1.2645981401259123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f171529fed3af%3A0xd0bf651d8ffa69e1!2sThe%20Alchemist!5e1!3m2!1ssw!2ske!4v1770982909757!5m2!1ssw!2ske" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-md-6">
                <h3 class="text-center mb-4">Contact Us</h3>
                <form action="submit_form.php" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <footer class="text-center mt-5">&copy; All Rights Reserved, VK Events 2026.</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
